@import "./vars";
@import "./themes";
@import "./views/governance.scss";
@import "./connectModal.scss";

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.05);
}

body,
html {
  background: #252423 !important;
}

.home {
  overflow-x: hidden;
}

.text-secondary {
  color: $text-secondary;
}

.text-white {
  color: #fff !important;
}

.text-black {
  color: #000 !important;
}

.text-center {
  text-align: center;
}

.blurred {
  position: relative;
  box-shadow: none;

  &::after {
    content: "Coming soon";
    position: absolute;
    z-index: 2;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(15px);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 48px;
    font-weight: bold;
    border-radius: 12px;

    color: #868686;
  }
}

.btn {
  border: 1px solid #2bd2f7;
  background: transparent;
  width: 150px;
  margin: 5px 0;
  height: 40px;
  border-radius: 12px;

  transition: all 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    color: #2bd2f7 !important;
    font-weight: bold;
    font-size: 14px !important;
  }

  &:hover {
    background: #2bd2f7;

    span {
      color: #fff !important;
    }
  }

  &.no-events {
    pointer-events: unset;
    span {
      color: #fff;
    }
  }

  &:disabled {
    pointer-events: none;
  }
}

.head-table {
  h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  div {
    display: flex;
    align-items: center;
  }
}
.mini-image {
  width: 46px;
  height: 46px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 0.25px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px;
  }
}
.providers_item {
  .img_box {
    width: 124px;
    height: 124px;
    box-shadow: 0px 0px 20px rgba(43, 210, 247, 0.2);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    border: 4px solid rgba(43, 210, 247, 0.2);
    background: #fff;
    transition: all 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50px;
      height: 50px;
    }

    .circle {
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      bottom: -10%;
      left: -10%;
      border: 4px solid rgba(43, 210, 247, 0.2);

      display: flex;
      align-items: center;
      justify-content: center;

      transition: all 0.2s ease;

      img {
        width: 32px;
        height: 32px;
      }
    }

    &:hover {
      cursor: pointer;
      .circle {
        transform: translate(-10px, -10px);
      }

      transform: translate(0, 5px);
    }
  }

  p {
    font-size: 22px !important;
  }
}

.stand {
  .main-container {
    height: 100% !important;
    margin: 50px 0 !important;

    // display: grid;
    // place-items: center;
    // border: 1px solid red !important;
    // margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-template-rows: auto 1fr;
  }
}

.table-box {
  background: $table-box-bg;
  display: flex;
  padding: 15px 10px;
  border: 1px solid #f6f9fa;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.mt-n {
  &-3 {
    margin-top: -10px;
  }
}

.main-box {
  background: $table-box-bg;
  border: 1px solid #f6f9fa;
  // border-radius: 12px;
  padding: 25px 10px;

  p {
    margin: 0;
  }
}

.btn-grey {
  background: #f6f9fa;
  min-width: 120px;

  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  outline: none;

  border: 1px solid #d6d8d9;

  font-weight: bold;
  margin-right: 10px;
}

.btn-main {
  min-width: 120px;
  background: $btn_bg;
  color: $btn_accent;

  padding: 10px 20px;
  border-radius: 12px;
  transition: 0.2s ease-in;

  span {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    background: #f0fafe;
  }

  &:disabled {
    background: lightgrey;
    pointer-events: none;
  }
}

.btn-app {
  min-width: 120px;
  background: $btn_accent;
  color: #fff;

  padding: 10px 20px;
  border-radius: 12px;
  transition: 0.2s ease-in;

  span {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 8px $btn_accent;
  }

  &:disabled {
    background: lightgrey;
    pointer-events: none;
  }
}

.btn-accent {
  background: $btn_accent;
  color: #fff;
  padding: 10px 30px;

  &:hover {
    cursor: pointer;
    background: #fff;
    border: 1px solid $btn_accent;
    color: $btn_accent !important;
    span {
      color: $btn_accent !important;
    }
  }
}

.application {
  position: relative;

  .b-1,
  .b-2,
  .b-3,
  .b-4 {
    position: absolute;
    bottom: 0;
    z-index: 0;
  }

  .b-1 {
    top: 7.5%;
    left: -100px;
    width: 350px;
    height: 350px;

    .ss1 {
      position: absolute;
      top: -50px;
      right: 80px;
    }
  }

  .b-2 {
    top: 5%;
    right: 0;
    width: 280px;
    height: 280px;

    .ss2 {
      position: absolute;
      bottom: 0;
      right: 10px;
    }
  }

  .b-3 {
    top: 45%;
    left: -280px;
    width: 280px;
    height: 280px;

    .ss3 {
      position: absolute;
      bottom: -30px;
      right: -50px;
    }
  }

  .b-4 {
    top: 35%;
    right: -100px;
    width: 350px;
    height: 350px;

    .ss4 {
      position: absolute;
      top: -20px;
      right: 80px;
    }
  }

  .sp_1 {
    top: 35%;
    left: 240px;
  }

  .sp_2 {
    top: 22%;
    right: 380px;
  }

  .sp_3 {
    bottom: 18%;
    right: 200px;
  }

  .sp_4 {
    bottom: 60px;
    z-index: 0;
  }

  footer {
    z-index: 2 !important;
  }
}

.title {
  font-size: 34px;
}

.sub_title {
  font-size: 24px;
}

.app_form {
  width: 70%;
  padding: 40px 100px;
  z-index: 1;
  margin-bottom: 100px;
  position: relative;

  background: #f6f9fa;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  // backdrop-filter: blur(42px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;

  .form_title {
    font-size: 20px;
    text-transform: uppercase;
  }

  input {
    height: 50px;
    border-radius: 8px;
    padding-left: 20px;
    font-size: 16px;
  }

  .form_desc {
    color: #6f6969;
    width: 80%;
  }
}

.select-menu {
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .title {
    display: flex;
    align-items: center;
    height: 40px;
  }

  img {
    &.active {
      transform: rotate(180deg);
    }
  }

  .dropdown {
    background: #fcfeff;
    border: 1px solid #f6f9fa;
    position: absolute;
    width: 100%;
    border-radius: 12px;
    width: 110px;
    height: 80px;

    z-index: 9999;

    .item {
      padding: 5px 10px;

      &:hover {
        cursor: pointer;
        background: #f6f9fa;
      }

      span {
        font-size: 14px;
      }
    }
  }
}

.icon-small {
  width: 20px;
  height: 20px;
}

.guide {
  ul {
    li {
      display: flex;
      align-items: center;
      margin: 15px 0;

      &.empty {
        .number {
          background: transparent;
        }
      }
      .number {
        margin-right: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f6f9fa;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  button {
    background: #fff;
    border: 1px solid #2bd2f7;
  }

  .head {
    .item {
      position: relative;
      cursor: pointer;

      span {
        font-size: 20px;
        font-weight: 600;
      }

      &.active {
        span {
          color: #2bd2f7;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: #2bd2f7;
          bottom: -5px;
        }
      }
    }
  }
}

.partner {
  padding: 50px 0;
  position: relative;
  overflow: hidden;

  button {
    // background: #fff;
    border: 1px solid #2bd2f7;
    z-index: 999;
    position: relative;
  }

  h2 {
    font-size: 32px;
    z-index: 999;
    position: relative;
  }

  h5 {
    font-size: 24px;
    z-index: 999;
    position: relative;
  }

  .p_wave_1,
  .p_wave_2,
  .p_wave_3,
  .p_wave_4 {
    position: absolute;
    z-index: 0;
  }

  .p_wave_1 {
    top: 0;
    left: 0;
  }

  .p_wave_2 {
    right: 0;
    top: 0;
  }

  .p_wave_4 {
    right: 15%;
    bottom: 0;
  }

  .p_wave_3 {
    bottom: 0;
    left: 0;
  }
}

.text-up {
  text-transform: uppercase;
}

.btn-blue {
  background: $btn_accent;
  color: #fff;
}

.modal-content {
  background: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(30px) !important;
  .box {
    width: 300px;
    height: 265px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0 auto;
    padding: 15px;
  }

  .active {
    border: 1px solid #2bd2f7 !important;
  }
}

.form-section {
  margin-bottom: 15px;

  .col {
    margin: 0 auto;
  }

  .row-list {
    background: rgba(255, 255, 255, 0.4);
    // border: 1px solid #eceff0;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;

    .label-title {
      text-align: start;
      margin: 10px 0;
    }
  }

  .row-list-input {
    .col {
      position: relative;
      display: flex;
      padding: 0;

      input {
        height: 50px;
        width: 100%;
        padding: 0 15px;
        border-radius: 12px;
        font-size: 16px;
      }

      .max {
        position: absolute;
        background: #f6f9fa;
        border-radius: 12px;
        padding: 4px 12px;
        right: 10px;
        top: 50%;

        transform: translateY(-50%);

        span {
          color: $btn_accent;
          font-size: 13px;
        }

        &:hover {
          cursor: pointer;
          background: $btn_accent;
          span {
            color: #fff;
          }
        }
      }
    }
  }
}

.providers_item {
  margin: 0 !important;
}

.slick-arrow {
  // background: #fff !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  &::before {
    color: $btn_accent !important;
    font-size: 30px !important;
  }
}

.slick-dots {
  bottom: -50px !important;

  li {
    &.slick-active {
      button {
        &::before {
          color: $btn_accent !important;
        }
      }
    }
    button {
      &::before {
        font-size: 10px !important;
        color: grey !important;
      }
    }
  }
}

.w {
  &-100 {
    width: 100%;
  }
}

.btn-mini {
  margin-left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 20px;

  &:hover {
    cursor: pointer;
    background: #fff;
    color: $btn_accent;
  }

  &:disabled {
    background: lightgrey;
    border: none;
    pointer-events: none;
  }
}

.text-left {
  text-align: left;
}

.error {
  border: 1px solid $btn_accent;
}

.fade-in {
  animation: fade-in forwards 0.5s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#modal4,
#modal5 {
  .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 40px;
    }
  }
}

/* Spinner and loaders */
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 186px);
  overflow: hidden;

  position: relative;
  width: 100%;
  top: 0;
  left: 0;

  // z-index: 99999;
}

.spinner {
  border: 6px solid #296db0;
  // border-right: none;
  // border-bottom: none;
  position: relative;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(40px);

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  h2 {
    font-size: 16px;
  }

  animation: spin 1s infinite ease;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.disabled-input {
  pointer-events: none;
  background: #f5f5f5;
}

.border {
  border: 1px solid;
}

.small-icon {
  width: 46px;
  height: 46px;
}

.frapped-box {
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;

  .box-item {
    padding: 20px;
    border-radius: 14px;
    border: 1px solid #e4ecee;

    width: 100%;
    display: grid;
    grid-template-columns: 85px 1fr;
    grid-gap: 20px;

    .circle {
      background: #f6f9fa;
      border-radius: 50%;
      height: 85px;

      display: flex;
      align-items: center;
      justify-content: center;

      .text {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #fff;

        display: flex;
        align-items: center;
        justify-content: center;

        span {
          color: #300eff;
          font-weight: 900;
          font-style: italic;
          font-size: 16px;
        }
      }
    }

    .desc {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .num {
        font-size: 24px;
        font-weight: 700;
      }

      .title-box {
        font-size: 16px;
      }
    }
  }
}

.form-group {
  input {
    border: 1px solid #e4ecee;
  }
}

.my-7 {
  margin: 100px 0;
}

.mt-7 {
  margin-top: 100px;
}

.m-bottom-5 {
  margin-bottom: 60px !important;
}

.m-bottom-3 {
  margin-bottom: 30px !important;
}

.main-container {
  height: calc(100vh - 272px);
}

.modal-dialog {
  height: 80vh !important;
  display: flex !important;
  align-items: center !important;
  padding: 15px;
}

.small-image {
  width: 45px;
  margin-bottom: 0 !important;
}

.processing {
  font-size: 16px;
  margin: 0 !important;
}

.stage-big {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  .dot-pulse {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    &::after,
    &::before {
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
}

.blue-link {
  color: #2bd2f7;
}

#modal_erc {
  z-index: 99999;
  .select-modal {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    button {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      width: 102px;
      height: 40px;
      border-radius: 8px;

      cursor: pointer;

      img {
        height: 20px;
        margin-top: 20px;
        margin-right: 5px;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }

      &.active {
        border: 1px solid #2bd2f7;
      }
    }
  }

  .selected-network {
    border: 1px solid #fff;
    height: 40px;
    width: 214px;
    margin: 20px auto;

    display: grid;
    align-items: center;
    justify-content: center;

    position: relative;

    .point {
      position: absolute;
      background: lightgrey;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);

      &.active {
        background: #59b3ae;
      }
    }

    border-radius: 30px;

    span {
      color: rgba(0, 0, 0, 0.5);
      text-align: left !important;
    }
  }
  .h5 {
    margin: 0;
  }
}

.text-center {
  text-align: center;
  width: 100%;
}

footer {
  min-height: 100px !important;
  ul {
    li {
      a {
        img {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
  .mob {
    display: none;

    .heart {
      width: 20px;
      // height: 20px;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      // margin: 10px 0;
    }
  }
  .desc {
    display: flex;
  }

  .container {
    position: relative;
  }
}

#modal7,
#modal6,
#modal5,
#modal4,
#modal3,
#modal2,
#modal1 {
  z-index: 999999 !important;
}

.heart {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .application {
    section .container {
      padding: 0;
    }
  }
  .app_form {
    padding: 10px;
  }
  .mob-eco-row {
    margin-top: 100px;
    margin-bottom: 150px;
  }

  .eco-container {
    grid-gap: 20px !important;
  }

  .eco-title {
    text-align: center;
  }

  .eco-box {
    padding: 30px 20px !important;
  }

  .mob-eco-btns {
    display: flex;
    flex-direction: column;

    a {
      width: 170px !important;
      margin: 0 !important;
      margin-bottom: 20px !important;
    }
  }
  footer {
    .desc {
      display: none;
    }

    .mob {
      display: flex;
    }

    .mob {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .social_box {
        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 10px;
          text-align: center;
        }
      }
    }
  }
  .main_section {
    height: 100% !important;
  }
  .provided_by {
    a {
      // border: 1px solid red;
      max-width: 50px;
      display: flex;
      justify-content: center;
      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    .row {
      .col {
        display: flex;
        justify-content: center;
      }
    }
  }

  .footer_info {
    display: none;
  }

  .menu {
    .btn-grey {
      display: none;
    }
  }

  .slick-arrow {
    // background: #fff !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    &::before {
      display: none;
    }
  }

  .row.head-table.table-box {
    h6 {
      font-size: 13px;
    }

    .col {
      margin: 0;
      padding: 0;
      &:last-child {
        display: none;
      }
    }
  }

  .row.main-box {
    .col {
      margin: 0;
      padding: 0;
      &:last-child {
        display: none;
      }
    }

    .main-box-text {
      margin-left: 0 !important;
    }
  }

  .disabled {
    display: none !important;
  }

  .col-lg-5,
  .col-lg-7,
  .provided_by {
    margin: 20px 0;
  }

  .popsicle-stand {
    display: flex;
    flex-direction: column;
    .col-md-5 {
      padding: 15px;
      width: 100% !important;
    }
    .col-md-7 {
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0;
      img {
        width: 60%;
        margin-left: -20px;
      }

      margin-bottom: 50px;
    }
  }

  .partner {
    .p_wave_3,
    .p_wave_2 {
      display: none;
    }

    .p_wave_1 {
      top: -30px;
      left: -60px;
    }

    .p_wave_4 {
      right: -100px;
    }
  }
}

.no-events {
  pointer-events: none;
  background: rgba(0, 0, 0, 0.15) !important;
  border: none !important;
  color: #fff !important;
}

.deposit {
  min-height: calc(100vh - 260px);
  display: grid;
  align-items: center;
}

.popsicle-stand {
  &-title {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    text-transform: none !important;
  }

  margin-bottom: 150px;
}

.popsicle-stand-table {
  // margin-bottom: 150px;

  .main-box {
    &.table-box-1,
    &.table-box-2,
    &.table-box-3 {
      border-radius: 0;
    }

    &.table-box-2,
    &.table-box-3,
    &.table-box-4 {
      margin-top: 0;
    }
  }
}

.popsicle-stand-table {
  .dashboard-pools {
    .btn {
      border: 1px solid #2bd2f7;
      background: transparent;
      width: 150px;
      margin: 10px 0;
      height: 40px;
      border-radius: 12px;

      transition: all 0.2s ease;

      display: flex;
      align-items: center;
      justify-content: center;

      span {
        color: #2bd2f7;
        font-weight: bold;
        font-size: 14px !important;
      }

      &:hover {
        background: #2bd2f7;

        span {
          color: #fff;
        }
      }

      &.no-events {
        pointer-events: unset;
        span {
          color: #fff;
        }
      }
    }

    .btn-pool {
      background: #f6f9fa;
      height: 40px;
      border-radius: 12px;
      width: 150px;
      margin: 5px 0;
      position: relative;
      // overflow: hidden;

      transition: all 0.2s ease;

      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: #2bd2f7;
        font-weight: bold;
      }

      &:hover {
        background: #2bd2f7;

        span {
          color: #fff;
        }
      }

      &:disabled {
        background: #d6d8d9;
        pointer-events: none;

        span {
          color: #fff;
        }
      }
    }

    padding: 30px 40px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-gap: 25px;

    &-title {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 20px;
        font-weight: normal;
        text-transform: none;
        margin: 0 !important;
        line-height: unset;
        color: #868686;
      }
    }

    &-head {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(5, 1fr);

      padding-bottom: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      span {
        text-transform: uppercase;
        color: #868686;
        font-size: 12px;
      }
    }

    &-list {
      &-item {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 120px;

        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        position: relative;

        small {
          color: #868686;
        }

        &-1 {
          display: flex;
          align-items: center;

          .mini-image {
            width: 46px;
            height: 46px;
            background: #fff;
            border-radius: 50%;
            box-shadow: 0 0 0 0.25px rgba(0, 0, 0, 0.1);

            display: flex;
            align-items: center;
            justify-content: center;

            margin-right: 10px;

            img {
              width: 100%;
            }
          }
        }

        &-2 {
          display: flex;
          align-items: center;

          .mini-image {
            width: 46px;
            height: 46px;
            background: #fff;
            border-radius: 50%;
            box-shadow: 0 0 0 0.25px rgba(0, 0, 0, 0.1);

            display: flex;
            align-items: center;
            justify-content: center;

            margin-right: 10px;

            img {
              width: 100%;
            }
          }
        }

        &-3 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;

          .dropdown {
            position: absolute;
            background: #ffffff;
            box-shadow: 0px 0px 16px rgba(20, 20, 19, 0.1);
            border-radius: 16px;

            width: 150px;
            height: 80px;

            padding: 0 20px;

            display: none;

            ul {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
            }

            li {
              &:hover {
                a {
                  text-decoration: underline;
                }
              }
            }

            &.active {
              display: block;
            }
          }

          &.end {
            align-items: flex-end;
            position: relative;

            .burger {
              position: absolute;

              top: 15px;
              right: -30px;

              width: 25px;
              height: 25px;
              background: transparent;

              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              transition: all 0.2s ease;
              border-radius: 50%;

              span {
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: #868686;
                &:not(:last-child) {
                  margin-bottom: 2px;
                }
              }

              &:hover {
                cursor: pointer;
                background: #868686;
                span {
                  background: #fff;
                }
              }
            }
          }
        }

        &-desc {
          position: absolute;
          z-index: 9999999999;

          left: 0;
          top: 0;

          background: linear-gradient(
            113.01deg,
            #e7faff 7.66%,
            #f8ccff 105.32%
          );
          box-shadow: 0px 0px 16px rgba(20, 20, 19, 0.1);
          border-radius: 16px;

          color: #333;
          width: 350px;
          height: 125px;
          padding: 15px;

          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          transform: translate(25%, 110px);

          display: none;
          transition: all 0.2s ease;
        }

        .pin {
          // background: red;
          &:hover {
            ~ .dashboard-pools-list-item-desc {
              display: flex;
            }
          }
        }
      }
    }
  }

  .dashboard-pools-mob {
    display: none;

    grid-template-rows: 50px 80px 1fr;
    grid-gap: 15px;

    &-head {
      background: #fff;
      border: 1px solid #f6f9fa;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      padding: 0 10px;
      border-radius: 12px;
      grid-gap: 15px;

      span {
        font-size: 11px;
        text-transform: uppercase;
        text-align: center;
      }
    }

    &-list {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-gap: 15px;

      &-item {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-gap: 15px;
        position: relative;

        border-radius: 12px;
        border: 1px solid #f6f9fa;
        padding: 15px 0;
        background: #fff;

        .items {
          display: grid;
          grid-template-columns: repeat(4, 1fr);

          &-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;

            .mini-image {
              img {
                width: 100%;
              }
            }
          }
        }

        .pin {
          position: absolute;
          bottom: 50%;
          left: 50%;
          transform: translate(-50%, 50%);
        }

        .buttons {
          display: flex;
          justify-content: center;
          .btn-pool {
            &:not(:last-child) {
              margin-right: 15px;
            }
          }
        }

        &-4 {
          display: flex;
          margin: 0 auto;
        }
      }
    }
  }

  .spinner-container {
    height: 80vh !important;
  }
}
// prod
@media screen and (max-width: 600px) {
  .stand {
    .main-container {
      height: 100% !important;
    }
  }

  .popsicle-stand-table {
    .dashboard-pools {
      display: none;
    }
    .dashboard-pools-mob {
      display: grid;
    }
  }
}

.provided_by {
  &-title {
    font-size: 16px !important;
  }

  .provided-icon {
    img {
      width: 40px;
    }
  }
}

.btn-modal {
  background: #2bd2f7;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;

  &-grey {
    background: #d6d8d9;
  }

  &:hover {
    cursor: pointer;
  }
}

.btn1 {
  width: 155px !important;

  overflow: hidden;
  height: 44px !important;

  a {
    line-height: unset !important;
  }

  &-grey {
    background: #868686 !important;
  }
}

a {
  line-height: unset !important;
}

.btn-pool {
  background: #f6f9fa;
  height: 40px;
  border-radius: 12px;
  width: 150px;
  margin: 5px 0;
  position: relative;
  // overflow: hidden;

  transition: all 0.2s ease;

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: #2bd2f7;
    font-weight: bold;
  }

  &:hover {
    background: #2bd2f7;

    span {
      color: #fff;
    }
  }

  &:disabled {
    background: #d6d8d9;
    pointer-events: none;

    span {
      color: #fff;
    }
  }
}

.width-auto {
  width: auto !important;
}

.popsicle-stand {
  .grid-boxes {
    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
    grid-gap: 25px;

    .box {
      border: 1px solid #fcfeff;
      padding: 25px 25px;
      border-radius: 10px;
      position: relative;
      background: #f6f9fa;
      color: #000;

      .circle-title {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #2bd2f7;
        color: #fff;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;

        top: -15px;
        left: 50%;
        transform: translateX(-50%);

        font-weight: bold;
      }

      p {
        line-height: 22px;
        font-size: 16px;
      }
    }
  }
}

.pin {
  background: linear-gradient(
    112.8deg,
    rgba(90, 201, 229, 0.1) 7.61%,
    rgba(177, 25, 202, 0.1) 104.56%
  );
  border-radius: 46px;
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin-top: 5px;
  color: rgba(177, 25, 202, 0.5);

  cursor: pointer;

  &.red {
    background: rgba(206, 62, 62, 0.651);

    color: #000;
  }
}

//
.empty-popsicle-stand {
  width: 100%;
  height: 435px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 0 0 0.5px rgba(255, 255, 255, 0.15);

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  padding: 30px;

  div {
    background: #444;
  }
}

.exp {
  position: absolute;
  right: -30px;
  top: 15px;

  &-circle {
    border: 1px solid;
    min-width: 24px;
    min-height: 24px;

    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      width: 2px;
      height: 2px;
      background: #000;
      border-radius: 50%;
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &-desc {
    display: flex;
    position: fixed;
    z-index: 1;

    align-items: center;
    justify-content: center;

    width: 120px;
    height: 60px;
    background: #f6f9fa;
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);

    transform: translate(-50%, -50%);

    z-index: 999;

    a {
      color: #000 !important;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.harvesting-box {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  height: 150px;

  .item {
    display: flex;
    align-items: center;
    text-align: left;

    padding: 10px;

    &:not(:last-child) {
      margin-right: 15px;
    }

    p {
      // line-height: 0 !important;
      margin-bottom: 0 !important;
    }

    .icon-harvest {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      margin-right: 15px;

      img {
        width: 46px;
        max-height: 46px;
        position: relative;
      }
    }
  }
}

.mob-farm-home {
  display: flex;
}

.mob-home-modal {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 780px) {
  .app_form {
    padding-left: 15px;
    padding-right: 15px;
    width: 95%;
  }
}

@media screen and (max-width: 550px) {
  .harvesting-box {
    height: 300px;
    flex-direction: column;
  }

  .mob-farm-home {
    justify-content: center;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.tooltip {
  display: block !important;
  z-index: 10000;
  font-family: "Sofia Pro", sans-serif;

  &.light {
    .tooltip-inner {
      background: #f6f9fa;
      color: #252423;
    }

    .tooltip-arrow {
      border-color: #f6f9fa;
    }
  }

  .tooltip-inner {
    background: #333333;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 5px;
    max-width: 300px;
    text-align: center;
    font-size: 14px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #333333;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}
